<section class="big-card-container">
      <section class="big-card-photo">
            <img 
            src="https://pbs.twimg.com/media/FdasT7UVEAA7zVx?format=jpg&name=4096x4096"
            alt="">
      </section>

      <section class="big-card-title">
            <h1><a href="#">Cosmic Garou</a></h1>
      </section>
      
      <section class="big-card-description">
            <p>
                  <a href="">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum convallis ipsum aliquet, cursus mauris nec, pellentesque libero. Cras et aliquet enim. Nulla hendrerit ante nunc, quis mattis turpis pulvinar vitae. Nulla consectetur gravida dui, et dapibus sem euismod id. Aliquam erat volutpat. Nunc porttitor sapien vel ante tincidunt, et interdum ligula malesuada. Quisque faucibus eros eget consequat gravida. Morbi ut neque non nunc lobortis tincidunt.
                  </a> 
            </p>
      </section>
</section>