.small-card-container{
      width: 600px;
      margin-bottom: 15px;

}
.small-card-container-content{
      display: flex;
      flex-direction: row;
      gap: 15px;
}
.small-card-photo > img{
      width: 250px;
      min-width: 200px;
}
.small-card-title{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
}
.small-card-title > h1 > a{
      font-size: 20px;
}
.small-card-separator{
      margin-top: 10px;
}